@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: #e06a1c;
}

section {
    background:linear-gradient(to bottom, #282121, #3f3939 50%);
}

@media only screen and (min-width: 700px) {
    section {
        margin-left: auto;
        margin-right: auto;
        background-color: #282121;
    }
}

.bottomNavContainer {
    position:fixed;
    width:100vw;
    height:10vh;
    position: fixed;
    bottom:0;
    background-color: #282121;
}
ul {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    background-color: #282121;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%
    }

    li {
        display: inline;
        justify-self: center;
        list-style-type: none;
        border-bottom:none;
        height:100%;
        
        img {
            width:10vw;
            cursor:pointer;
            height:100%;
        }
    }

.generalBtn {
    box-shadow:inset 0px 1px 0px 0px #afa89f;
    background:linear-gradient(to bottom, #e28445 5%, #e28445 100%);
    background-color: #e28445;
    border-radius:25px;
    border:1px solid #eeb44f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-weight:bold;
    padding:9px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
}
.generalBtn:hover {
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    background-color:#fb9e25;
}
.generalBtn:active {
    position:relative;
    top:1px;
}
    